{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.company }}</td>
                <td>{{ row.sum_shares }}</td>
                <td>{{ (row.symbol | lookup).price | usd }}</td>
                <td>{{ ((row.symbol | lookup).price * row.sum_shares) | usd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="col">Cash</th>
                <td></td>
                <td></td>
                <td></td>
                <th scope="col">{{ cash | usd }}</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
                <th scope="col">{{ total | usd }}</th>
            </tr>
        </tbody>
    </table>
{% endblock %}